[submodule "scripts"]
	path = scripts
	url = git@github.com:firlybagdjapangestu/belajar-git-submodule.git
[submodule "modul"]
	path = modul
	url = git@github.com:firlybagdjapangestu/belajar-git-submodule.git
	branch = release
